* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #abc0c8;
}

/*  HEADER  */
.Header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: #333;
    border-bottom: 3px solid #ffffff;
    height: auto;
}

.Header h1 {
    color: #ffffff;
    font-size: 1.5rem;
    padding: 10px;
}

.Header h3 {
    color: #918eba;
    font-size: 1.2rem;
    padding: 10px;
}

.Main {
    display: flex;
    flex-direction: column;
    align-items: center;
   min-height: 750px;
}

.Main header {
    text-align: center;
    margin-top: 2rem;
    width: 80%;
    padding: 1rem;
    border-bottom: 3px solid #918eba;
}

.Main header h4 {
    text-align: center;
    font-size: 19px;
    color: #4b4787;
}

.Main form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 20px;
}


.Main form label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

.Main form input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.Main form input[type="submit"] {
    background-color: #918eba;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    padding: 15px;
}

.Main form input[type="submit"]:hover {
    background-color: #048a16;
}

.Main form select {
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 18px;
}

.Main form #select {
    text-align: center;
    font-size: 17px;
    color: #076407;
}

.Main form #options {
    text-align: center;
    color: #076407;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.Main form #options .reset {
    background-color: #9f5130;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 30%;
    height: 35px;
    margin: 5px;

}

.Main #message {
    margin: 10px;
    text-align: center;
    color: #2b2392;
    font-weight: bold;
    font-size: 18px;
}
.Main #message p{
    margin-top: 10px;
    text-align: left;
    color: #2b2392;
    font-weight: bold;
}

.Main #info {
    text-align: center;
    color:#bc0505;
    font-weight: bold;
}

#action {
    text-align: center;
    font-weight: bold;
}

.btn {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 75px;
}

.btn-danger {
    background-color: #bc0505;
    border: 1px solid #333;
}

.btn-warning {
    background-color: #ffd000;
    color: black;
    font-weight: bold;
    border: 1px solid #333;
}

.btn-danger:hover {
    background-color: #f00;
}

.btn-warning:hover {
    background-color: #ffe100;
}

.btn-success {
    background-color: #0f0;
}

.btn-success:hover {
    background-color: rgb(12, 152, 12);
}

table {
    width: 80%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(odd) td {
    background-color: #ddd;
}

#table {
    margin: 0 auto;
    width: 80%;
    clear: both;
    border: 1px solid #333;
    border-radius: 3px;
}

#table caption {
    border-top: 3px solid #918eba
}

#table caption h4 {
    color: #4b4787;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    font-size: 20px;
}

/* FOOTER */
.Footer {
    border-top: 3px solid #ffffff;
    background-color: #333;
    margin-top: 3rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: .5rem;
    height: auto;
}

.Footer p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 5px
}